.gradient-board-holder {
    padding: $box-padding-mobile;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 -20px;

    @include breakpoint-up(medium) {
        padding: $box-padding;
        margin: 0;
        border-radius: $border-radius;
        align-items: flex-end;
        justify-content: flex-start;
    }

    .holder-content {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include breakpoint-up(medium) {
            flex-direction: column;
            gap: 20px;
            align-items: flex-start;
            justify-content: flex-start;
        }
    }

    h2 {
        color: $white;
    }

    p {
        color: $lt-grey;
    }

    .user-holder {
        
        > div {
            display: flex;
            align-items: center;
            gap: 10px;
            img {
                width: 45px;
                height: 45px;
                border-radius: 50%;
                object-fit: cover;
            }
            a {
                color: $white;
                font-size: 14px;
            }
        }
    }

    .loader-holder {
        margin-top: 0;

        .loader {
            border: 5px solid $white;
            border-bottom-color: transparent;
        }
    }

    .mobile-toggle {
        
        @include breakpoint-up(medium) {
            display: none;
        }
    }
}