.suggestions-board-holder {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $v-dk-blue;
    padding: $box-padding-mobile;
    margin: 0 -20px;

    @include breakpoint-up(medium) {
        gap: 10px;
        margin: 0;
        padding: 20px 24px;
        border-radius: $border-radius;
    }

    @include breakpoint-up(large) {
        padding: 15px 20px;
        height: 75px;
    }

    .holder-control {
        display: flex;
        align-items: center;
        gap: 20px;

        @include breakpoint-up(medium) {
            flex: 1;
        }

        h3 {
            color: $white;
        }
        img, h3 {
            display: none;

            @include breakpoint-up(medium) {
                display: inline-block;
            }
        }

        .holder-sort {
            flex: 1;
            display: flex;
            flex-direction: column;

            @include breakpoint-up(medium) {
                flex-direction: row;
                align-items: center;
                gap: 5px;
            }

            > span {
                display: block;
                color: $white;
                width: 80px;
                
                @include breakpoint-up(medium) {
                    margin-left: 20px;
                }
            }
            svg {
                margin-left: 10px;
                path {
                    stroke: $white;
                }
            }
            .select {
                .select-input {
                    display: flex;
                    align-items: center;
                    padding: 0;
                    background: transparent;
                    border: none;
                    border-radius: 0;
    
                    &:hover {
                        border: none;
                    }
    
                    .input-value {
                        color: $white;
                        font-weight: 600;
                    }
    
                    svg {
                        position: relative;
                        transform: translateY(0);
                        right: 0;
                        margin-left: 5px;
                    }
                }

                .select-options {
                    width: 250px;
                }

                &.open {
                    .select-input svg {
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }
}